<form class="border ml-5 mr-5 mb-5">
  <div [formGroup]="criteriaForm" class="form-group">
    <button (click)="search()" type="button" class="mb-4 btn btn-block btn-primary">Rechercher</button>

    <label for="keyword">Mots-clés</label>
    <input type="text" class="form-control" id="keyword" name="keyword" formControlName="keyword"/>

    <label for="enterprise">Entreprise</label>
    <input type="text" class="form-control" id="enterprise" name="enterprise" formControlName="enterprise"/>

    <hr/>
    <h6 class="mb-3">Préferences</h6>

    <label for="distance">Distance max.</label>
    <input type="number" class="form-control" id="distance" name="distance" formControlName="distance" />

    <label for="salary">Salaire min.</label>
    <input type="text" class="form-control" id="salary" name="salary" formControlName="salary"/>

    <label for="category">Catégorie</label>
    <select id="category" class="form-control" name="category" formControlName="category">
      <option *ngFor="let category of categories" [ngValue]="category">{{ category.label }}</option>
    </select>
  </div>
</form>
