<div class="container" *ngIf="jobOffer">
  <div class="border enterprise-box row mb-5">
    <a class="col-4" routerLink="/enterprises/{{jobOffer.enterprise.idEnterprise}}"><img class="col-12" src="{{ logoUrl }}" [title]="jobOffer.enterprise.name" [alt]="jobOffer.enterprise.name"></a>
    <h2 class="col-8  my-3">{{jobOffer.title}}</h2>
  </div>
  <div class="row">
    <div class="mb-5 col-6">
      <p [innerHTML]="jobOffer.description" class="mb-5"></p>
      <label>Type du contract</label>
      <p>{{ jobOffer.contractType.toString() == 'HALFTIME' ? 'Temps partiel' : 'Temps plein' }}</p>
      <label>Catégorie</label>
      <p>{{jobOffer.category.label}}</p>
      <label>Lieu</label>
      <p>{{jobOffer.place}}</p>
      <label>Salaire</label>
      <p>{{jobOffer.salaryMin}} € - {{jobOffer.salaryMax}} €</p>
      <label>Contact</label>
      <p>{{jobOffer.contact}}</p>
      <label>Date de publication</label>
      <p>{{jobOffer.publishDate | date:'dd/MM/yyy' }}</p>
    </div>
    <div class="col-6">
      <agm-map [latitude]="jobOffer.coordinate.latitude" [longitude]="jobOffer.coordinate.longitude" [zoom]="15">
        <agm-marker [latitude]="jobOffer.coordinate.latitude" [longitude]="jobOffer.coordinate.longitude" animation="BOUNCE" [label]="jobOffer.place"></agm-marker>
      </agm-map>
    </div>
  </div>

  <button *ngIf="isAdmin" class="btn btn-danger btn-delete" (click)="delete()">Supprimer l'offre</button>
</div>


