.enterprise-box {
  padding: 10px;
}

.enterprise-box img {
  max-height: 150px;
  max-width: 150px;
}

.enterprise-box a {
  font-size: 20px;
}

label {
  font-weight: bold;
}

agm-map {
  height: 400px;
}
