<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="user != undefined || !check('/login')" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav justify-content-end mr-auto">
      <li class="nav-item" [class.active]="check('/profil')">
        <a class="nav-link" routerLink="/profil">
          <img class="avatar" [src]="user.avatarUrl" alt="avatar" />{{ user.firstname + ' ' + user.lastname }}</a>
      </li>
      <li class="nav-item" [class.active]="check('/job-offers')">
        <a class="nav-link" routerLink="/job-offers">Offres d'emploi<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Administration</a>
      </li>
    </ul>
  </div>
</nav>
