<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">{{title}}</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="check('/login')">
    <span class="navbar-text">
    Le site de recherche d'emploi en Belgique
  </span>
  </div>

  <div *ngIf="user && !check('/login')" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav justify-content-end mr-auto">
      <li class="nav-item" [class.active]="check('/profile')">
        <a class="nav-link" routerLink="/profile">
          <img *ngIf="user.avatarUrl" class="avatar" [src]="user.avatarUrl" alt="avatar"/>
          <img *ngIf="!user.avatarUrl" class="avatar" src="assets/default.png" alt="avatar"/>
          {{ user.firstname + ' ' + user.lastname }}</a>


      </li>
      <li class="nav-item" [class.active]="check('/job-offers')">
        <a class="nav-link" routerLink="/job-offers">Rechercher une offre d'emploi<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/admin/job-offers">Créer une offre d'emploi</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/admin/enterprises">Référencer une entreprise</a>
      </li>
    </ul>
  </div>
</nav>
