<div class="container-fluid">
  <div class="row" *ngIf="user">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="border p-2">
        <img *ngIf="user.avatarUrl" class="d-block m-auto" [src]="user.avatarUrl" alt="Photo de {{user.firstname + ' ' + user.lastname}}" />
        <img *ngIf="!user.avatarUrl" class="d-block m-auto" src="assets/default.png" alt="Photo de {{user.firstname + ' ' + user.lastname}}" />
        <p id="display-name">{{user.firstname + ' ' + user.lastname}}</p>
      </div>
      <div class="border mt-3 p-2">
        <p id="edit-label">Modifier votre compte</p>
        <button class="btn btn-block btn-light" (click)="changeRoute('/profile/avatar')" >Avatar</button>
        <button class="btn btn-block btn-light" (click)="changeRoute('/profile/information')" >Information personnelles</button>
        <hr/>
        <button (click)="disconnect()" class="btn btn-block btn-light btn-logout">Déconnexion</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8" *ngIf="user" [ngSwitch]="option">
      <app-user-profile-modification [user]="user" (personalInfoChange)="update($event)" *ngSwitchCase="'information'"></app-user-profile-modification>
      <app-user-profile-avatar [user]="user" *ngSwitchCase="'avatar'"></app-user-profile-avatar>
      <app-user-profile-description *ngSwitchDefault [user]="user"></app-user-profile-description>
    </div>
  </div>
</div>
