<div class="container">
  <h3 class="display-4 mt-5">Nouvelle entreprise</h3>

  <form [formGroup]="enterpriseForm">
    <div class="form-group">
      <label for="name">Nom de l'entreprise</label>
      <input type="text" id="name" class="form-control col-lg-6 col-md-8 col-sm-12" formControlName="name"/>
      <div class="alert alert-danger  col-lg-6 col-md-8 col-sm-12" *ngIf="name.invalid && name.touched">Ce champ est
        requis.
      </div>
      <label for="description">Description de l'entreprise</label>
      <div class="form-group">
        <textarea class="form-control" name="description" id="description" #desc formControlName="description" cols="30"
                  rows="10"></textarea>
        <div class="alert alert-danger" *ngIf="description.invalid && description.touched">Ce champ est requis.</div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-9">
          <label for="street">Rue</label>
          <input type="text" class="form-control" id="street" formControlName="street">
          <div class="alert alert-danger" *ngIf="street.invalid && street.touched">Ce champ est requis.</div>
        </div>
        <div class="form-group col-md-3">
          <label for="number">Numéro</label>
          <input type="number" class="form-control" id="number" formControlName="number">
          <div class="alert alert-danger" *ngIf="number.invalid && number.touched">Ce champ est requis.</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="city">Ville</label>
          <input type="text" class="form-control" id="city" formControlName="city">
          <div class="alert alert-danger" *ngIf="city.invalid && city.touched">Ce champ est requis.</div>

        </div>
        <div class="form-group col-md-2">
          <label for="postalCode">Code postal</label>
          <input type="number" class="form-control" id="postalCode" formControlName="postalCode">
          <div class="alert alert-danger" *ngIf="postalCode.invalid && postalCode.touched">Ce champ est requis.</div>
        </div>
        <div class="form-group col-md-4">
          <label for="country">Pays</label>
          <select id="country" class="form-control" formControlName="country">
            <option [ngValue]="country" *ngFor="let country of countries">{{country}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="country.invalid && country.touched">Ce champ est requis.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="file">Logo</label>
        <input id="file" type="file" #file class="form-control-file" (change)="setFile($event.target.files)">
        <div *ngIf="message" class="alert alert-light" [innerHTML]="message"></div>
      </div>

      <img *ngIf="enterprise.logoUrl" [src]="enterprise.logoUrl" class="m-auto" alt="Logo de l'entreprise"/>

      <button class="btn btn-light btn-block mt-4" [disabled]="enterpriseForm.invalid || (desc.textLength === 0) || !file.files" (click)="create()">
        Ajouter l'entreprise
      </button>
      <div [innerHTML]="successMessage"></div>
    </div>
  </form>
</div>
