.offer-box {
  max-width: 300px;
  margin: 0 10px 20px 10px;
  padding: 10px;
}

.offer-box img {
  margin: auto;
  max-width: 250px;
  max-height: 80px;
}

.offer-box h3 {
  font-size: 24px;
}

li {
  list-style-type: none;
}
