.offer-box {
  max-width: 300px;
  margin: 0 10px 20px 10px;
  padding: 10px;
}

.offer-box img {
  display: block;
  max-width: 250px;
  max-height: 80px;
  margin: auto auto;
}

.offer-box h3 {
  margin-top: 30px;
  font-size: 24px;
}

li {
  margin-left: -30px;
  list-style-type: none;
}
