<div class="d-flex flex-row flex-wrap justify-content-around align-content-stretch align-items-stretch">
  <div class="offer-box border" *ngFor="let offer of offers">
    <img [src]="offer.enterprise.logoUrl" [alt]="offer.enterprise.name" />
    <ul>
      <li><b>Entreprise</b> : <b><a routerLink="/enterprises/{{offer.enterprise.idEnterprise}}">{{offer.enterprise.name}}</a></b></li>
      <li><h3>{{offer.title}}</h3></li>
      <li><b>Description</b> :<br/>{{offer.description}}</li>
      <li><b>Type de contract</b> : {{offer.contractType}}</li>
      <li><b>Lieu</b> : {{offer.place}}</li>
    </ul>
    <button class="btn btn-primary btn-block" (click)="detail(offer.idJobOffer)">Détails</button>
  </div>
</div>
