<div class="list-group menu">
  <a href="#" class="list-group-item list-group-item-action ">Offres d'emploi</a>
  <a href="#" class="list-group-item list-group-item-action active">Voir les offres sur la carte</a>
  <a href="#" class="list-group-item list-group-item-action">Espace Administration</a>
  <a href="#" class="list-group-item list-group-item-action">Déconnexion</a>
  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
</div>
