
img {
  border: black solid;
  border-radius: 30px;
  margin: 10px;
  width: 50px;
}

img:hover {
  background-color: #4B77BE;
  transition-duration: 0.5s;
}

.actived {
  background-color: #89C4F4;
}

.tab {
  text-align: center;
  cursor: pointer;
}
