.user-avatar {
  border: solid 5px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

#display-name {
  text-align: center;
  font-size: 24px;
}

#edit-label {
  text-align: center;
  font-size: 24px;
}
