<div class="container-fluid">
  <div class="row" *ngIf="user">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="border p-2">
        <img class="d-block m-auto" [src]="user.avatarUrl" alt="Photo de {{user.firstname + ' ' + user.lastname}}" />
        <p id="display-name">{{user.firstname + ' ' + user.lastname}}</p>
      </div>
      <div class="border mt-3 p-2">
        <p id="edit-label">Modifier votre compte</p>
        <button class="btn btn-block btn-light" (click)="this.option = 'personal-information'">Information personnelles</button>
        <button class="btn btn-block btn-light" (click)="this.option = 'preferences'">Préférence</button>
        <hr/>
        <button (click)="disconnect()" class="btn btn-block btn-light btn-logout">Déconnexion</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <app-user-profil-description [user]="user"></app-user-profil-description>
    </div>
  </div>
</div>
